*.ipynb linguist-vendored
*.html linguist-detectable=false
*.sql linguist-detectable=true
*.sql linguist-language=SQL
notebooks/* linguist-vendored
outputs/* linguist-generated
reports/* linguist-documentation
docs/* linguist-documentation
Dockerfile linguist-detectable=true
Makefile linguist-detectable=true