# Data
pandas==2.2.2
numpy==1.26.4
pyarrow==16.0.0

# Database
psycopg2-binary==2.9.9
sqlalchemy==2.0.30

# ML
scikit-learn==1.5.0
lightgbm==4.3.0
shap==0.45.0

# Experiment tracking
mlflow==2.13.0

# API
fastapi==0.111.0
uvicorn[standard]==0.30.0

# Pipeline
apache-airflow==2.9.1

# Monitoring
evidently==0.4.30

# Utils
python-dotenv==1.0.1
pydantic==2.7.1
loguru==0.7.2
tqdm==4.66.4

# Dev
pytest==8.2.0
jupyter==1.0.0